Your ticket (#<%= @ticket_number %>) has been updated.

--------------------------------------------------

<%= @ticket_message %>

--------------------------------------------------

Please follow the link below to view and reply to the ticket.

<%= @ticket_url %>
